.nav-height{
    height: 70px;
}
#quiz-hub{
    font-weight: bold;
    font-size: 30px;
}
.prof-img{
    height: 220px;
    width: 220px;
}
.img-user{
    height: 100px;
    width: 100px;
}
.footer-icon{
    padding-top: 15px;
}
.icon-ft{
    font-size: 30px;
}